packages/integration-api/AnypointStudio/Portfolio/salesforce-sapi-ws/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8" ?>
<mule
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
>

    <flow name="salesforce-sapi-main">
        <http:listener
      config-ref="HTTP_Listener_config"
      path="/services/apexrest/sapi/v1/*"
    >
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers
        ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers
        ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>

        <logger
      level="INFO"
      doc:name="Log Request"
      message="#['Request: ' ++ attributes.method ++ ' ' ++ attributes.requestPath ++ ' | ID: ' ++ vars.requestId]"
    />

        <flow-ref
      doc:name="validate-required-headers"
      name="validate-required-headers"
    />
        <flow-ref doc:name="set-query-params" name="set-query-params" />

        <apikit:router config-ref="salesforce-sapi-config" />
    </flow>

    <flow name="salesforce-sapi-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforce-sapi-config" />
    </flow>

<flow name="get:\health:salesforce-sapi-config">
        <flow-ref doc:name="get-sfdc-health" name="get-sfdc-health" />
    </flow>

    <flow name="get:\accounts:salesforce-sapi-config">
        <flow-ref doc:name="get-sfdc-accounts" name="get-sfdc-accounts" />
    </flow>

    <flow name="get:\certifications:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-certifications"
      name="get-sfdc-certifications"
    />
    </flow>

    <flow name="get:\contacts:salesforce-sapi-config">
        <flow-ref doc:name="get-sfdc-contacts" name="get-sfdc-contacts" />
    </flow>

    <flow name="get:\education:salesforce-sapi-config">
        <flow-ref doc:name="get-sfdc-education" name="get-sfdc-education" />
    </flow>

    <flow name="get:\skills:salesforce-sapi-config">
        <flow-ref doc:name="get-sfdc-skills" name="get-sfdc-skills" />
    </flow>

    <flow name="get:\certification-skills:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-certification-skills"
      name="get-sfdc-certification-skills"
    />
    </flow>

    <flow name="get:\experience:salesforce-sapi-config">
        <flow-ref doc:name="get-sfdc-experience" name="get-sfdc-experience" />
    </flow>

    <flow name="get:\experience-highlights:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-experience-highlights"
      name="get-sfdc-experience-highlights"
    />
    </flow>

    <flow name="get:\experience-skills:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-experience-skills"
      name="get-sfdc-experience-skills"
    />
    </flow>

    <flow name="get:\portfolio-config:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-portfolio-config"
      name="get-sfdc-portfolio-config"
    />
    </flow>

    <flow name="get:\project-assets:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-project-assets"
      name="get-sfdc-project-assets"
    />
    </flow>

    <flow name="get:\project-skills:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-project-skills"
      name="get-sfdc-project-skills"
    />
    </flow>

    <flow name="get:\projects:salesforce-sapi-config">
        <flow-ref doc:name="get-sfdc-projects" name="get-sfdc-projects" />
    </flow>

    <flow name="get:\testimonials:salesforce-sapi-config">
        <flow-ref
      doc:name="get-sfdc-testimonials"
      name="get-sfdc-testimonials"
    />
    </flow>

    <sub-flow name="validate-required-headers">
        <set-variable
      variableName="requestId"
      value='#[attributes.headers."x-request-id"]'
      doc:name="Extract Request ID"
    />
        <set-variable
      variableName="apiVersion"
      value='#[attributes.headers."x-api-version"]'
      doc:name="Extract API Version"
    />

        <choice doc:name="Validate Headers">
            <when
        expression="#[vars.requestId == null or vars.apiVersion == null]"
      >
                <ee:transform doc:name="Set Error Response">
                    <ee:message>
                        <ee:set-payload
            ><![CDATA[%dw 2.0
output application/json
---
{
    httpStatus: 400,
    errorCode: "MISSING_REQUIRED_HEADERS",
    message: "X-Request-Id and X-API-Version headers are required",
    retryable: false,
    correlationId: vars.requestId default uuid()
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable
              variableName="httpStatus"
            >400</ee:set-variable>
                        <ee:set-variable
              variableName="outboundHeaders"
            ><![CDATA[%dw 2.0
output application/java
---
{
    "X-Request-Id": vars.requestId default uuid()
}]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <raise-error
          type="APP:BAD_REQUEST"
          description="Missing required headers"
        />
            </when>
        </choice>

        <set-variable
      variableName="outboundHeaders"
      value='#[{"X-Request-Id": vars.requestId, "Cache-Control": "no-store, no-cache"}]'
      doc:name="Set Response Headers"
    />
    </sub-flow>

	<sub-flow name="set-query-params">
	    <set-variable
      variableName="contactName"
      value='#[trim(message.attributes.queryParams.contactName default "")]'
      doc:name="contactName"
    />
	    <set-variable
      variableName="employerName"
      value='#[trim(message.attributes.queryParams.employerName default "")]'
      doc:name="employerName"
    />
	    <set-variable
      variableName="accountName"
      value='#[trim(message.attributes.queryParams.accountName default "")]'
      doc:name="accountName"
    />
	    <set-variable
      variableName="issuerName"
      value='#[trim(message.attributes.queryParams.issuerName default "")]'
      doc:name="issuerName"
    />
	    <set-variable
      variableName="projectName"
      value='#[trim(message.attributes.queryParams.projectName default "")]'
      doc:name="projectName"
    />
	    <set-variable
      variableName="certificationName"
      value='#[trim(message.attributes.queryParams.certificationName default "")]'
      doc:name="certificationName"
    />
	    
	    <set-variable
      variableName="currentlyEmployed"
      value='#[trim(message.attributes.queryParams.currentlyEmployed default "") as Boolean default null]'
      doc:name="currentlyEmployed"
    />
	    <set-variable
      variableName="isFeatured"
      value='#[trim(message.attributes.queryParams.isFeatured default "") as Boolean default null]'
      doc:name="isFeatured"
    />
	    
	    <set-variable
      variableName="limit"
      value='#[min([(message.attributes.queryParams.limit default 50) as Number, 200])]'
      doc:name="limit (capped at 200)"
    />
	                  
	    <set-variable
      variableName="offset"
      value='#[message.attributes.queryParams.offset default 0]'
      doc:name="offset"
    />
	
	    <set-variable
      variableName="experienceId"
      value='#[trim(message.attributes.queryParams.experienceId default "")]'
      doc:name="experienceId"
    />
	    <set-variable
      variableName="certificationId"
      value='#[trim(message.attributes.queryParams.certificationId default "")]'
      doc:name="certificationId"
    />
	    <set-variable
      variableName="projectId"
      value='#[trim(message.attributes.queryParams.projectId default "")]'
      doc:name="projectId"
    />
	    
	    <set-variable
      variableName="status"
      value='#[trim(message.attributes.queryParams.status default "")]'
      doc:name="status"
    />
	    
	    <ee:transform doc:name="Set persona variable">
	        <ee:variables>
	            <ee:set-variable
          variableName="persona"
        ><![CDATA[%dw 2.0
	output application/java
	---
	if (message.attributes.queryParams.persona is String) 
	    if (trim(message.attributes.queryParams.persona) != "") 
	        trim(message.attributes.queryParams.persona)
	    else null
	else if (message.attributes.queryParams.persona is Array) 
	    (message.attributes.queryParams.persona filter ($ != null and trim($) != "")) map trim($)
	else null]]></ee:set-variable>
	        </ee:variables>
	    </ee:transform>
	    
	    <set-variable
      variableName="category"
      value='#[trim(message.attributes.queryParams.category default "")]'
      doc:name="category"
    />
	</sub-flow>

</mule>
