packages/integration-api/AnypointStudio/Portfolio/salesforce-sapi-ws/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8" ?>
<mule
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
>

    <flow name="get-sfdc-health" doc:id="4f6cca3d-0f39-4947-88eb-82369de90785">
        <ee:transform doc:name="Build Health Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
{
    status: "UP",
    checkType: "SHALLOW",
    timestamp: now(),
    dependencies: {
        salesforce: "deferred"
    }
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
---
{
    "Cache-Control": "no-store, no-cache",
    "X-Request-Id": correlationId
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-accounts"
    doc:id="e6de6116-2760-4e93-8216-bc88c9f864af"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/accountQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    abbreviation: item.Abbreviation__c,
    industry: item.Industry
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-certifications"
    doc:id="5f300feb-6980-4f46-9bdc-7c4fd41e4c72"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/certificationsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    contactId: item.Contact__r.Id,
    contactName: item.Contact__r.Name,
    issuerId: item.Issuer__r.Id,
    issuerName: item.Issuer__r.Name,
    earnedDate: item.Earned_Date__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-contacts"
    doc:id="86b9398a-1b2f-4eb7-88b1-711f97634d3f"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/contactQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    email: item.Email,
    phone: item.Phone,
    accountId: item.Account.Id,
    accountName: item.Account.Name,
    title: item.Title,
    careerObjective: item.Career_Objective__c,
    linkedIn: item.LinkedIn__c,
    trailhead: item.Trailhead__c,
    portfolio: item.Portfolio__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "no-store, no-cache"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-education"
    doc:id="6a7d6232-4052-41b1-be93-60977482f183"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/educationQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    contactId: item.Contact__r.Id,
    contactName: item.Contact__r.Name,
    issuerId: item.Issuer__r.Id,
    issuerName: item.Issuer__r.Name,
    fieldOfStudy: item.Field_of_Study__c,
    gpa: item.GPA__c,
    graduationDate: item.Graduation_Date__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow name="get-sfdc-skills" doc:id="a0bf81a8-db77-4835-a7a5-9e59578c6971">
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/skillsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    displayName: item.Display_Name__c,
    category: item.Category__c,
    proficiencyScore: item.Proficiency_Score__c,
    colorHex: item.Color_Hex__c,
    svgPathData: item.SVG_Path_Data__c,
    iconName: item.Icon_Name__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-certification-skills"
    doc:id="ff33f741-a4eb-4032-bce3-9f1b7332a007"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/certificationSkillsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    certificationId: item.Certification__r.Id,
    certificationName: item.Certification__r.Name,
    skillId: item.Skill__r.Id,
    skillName: item.Skill__r.Name,
    skillCategory: item.Skill__r.Category__c,
    skillProficiencyScore: item.Skill__r.Proficiency_Score__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-experience"
    doc:id="e7897a3f-cf56-4704-b97a-d870d83d4695"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/experienceQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    contactId: item.Contact__r.Id,
    contactName: item.Contact__r.Name,
    name: item.Name,
    employerId: item.Employer__r.Id,
    employerName: item.Employer__r.Name,
    startDate: item.Start_Date__c,
    endDate: item.End_Date__c,
    isCurrentRole: item.Is_Current_Role__c,
    isRemote: item.Is_Remote__c,
    accomplishments: item.Accomplishments__c,
    sortOrder: item.Sort_Order__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "no-store, no-cache"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-experience-highlights"
    doc:id="83010d5a-6a02-4713-9f47-fb024a25d96b"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/experienceHighlightsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    experienceId: item.Experience__r.Id,
    experienceName: item.Experience__r.Name,
    personaTag: item.Persona_Tag__c,
    sortOrder: item.Sort_Order__c,
    description: item.Description__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "no-store, no-cache"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-experience-skills"
    doc:id="eda54efe-d81c-4c96-a7bc-bcca638f6a82"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/experienceSkillsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    experienceId: item.Experience__r.Id,
    experienceName: item.Experience__r.Name,
    skillId: item.Skill__r.Id,
    skillName: item.Skill__r.Name,
    skillCategory: item.Skill__r.Category__c,
    skillProficiencyScore: item.Skill__r.Proficiency_Score__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-portfolio-config"
    doc:id="9032e3ab-6f91-4e72-bbae-7ea0a79d10a6"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/portfolioConfigQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
(payload map (item) -> {
    ownerEmail: item.Owner_Email__c,
    ownerPhone: item.Owner_Phone__c,
    linkedInUrl: item.LinkedIn_URL__c,
    calendlyUrl: item.Calendly_URL__c,
    gitHubProfileUrl: item.GitHub_Profile_URL__c,
    careerObjective: item.Career_Objective__c,
    trailblazerProfileUrl: item.Trailblazer_Profile_URL__c,
    personalWebsiteUrl: item.Personal_Website_URL__c
})[0]]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
---
{
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-project-assets"
    doc:id="567cb440-8933-4be9-a988-5c773111aa5f"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/projectAssetsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    projectId: item.Project__r.Id,
    projectName: item.Project__r.Name,
    externalUrl: item.External_URL__c,
    'type': item.Type__c,
    sortOrder: item.Sort_Order__c,
    altText: item.Alt_Text__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-project-skills"
    doc:id="ae0fcf2a-e7b1-40e6-b86f-db4972ec3a91"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/projectSkillsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    projectId: item.Project__r.Id,
    projectName: item.Project__r.Name,
    skillId: item.Skill__r.Id,
    skillName: item.Skill__r.Name,
    skillCategory: item.Skill__r.Category__c,
    skillProficiencyScore: item.Skill__r.Proficiency_Score__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-projects"
    doc:id="bf8588e1-f731-4e2c-bd41-c22cb771ef3c"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/projectsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    contactId: item.Contact__r.Id,
    contactName: item.Contact__r.Name,
    challenge: item.Challenge__c,
    solution: item.Solution__c,
    businessValue: item.Business_Value__c,
    status: item.Status__c,
    pillar: item.Pillar__c,
    heroImageUrl: item.Hero_Image_URL__c,
    liveUrl: item.Live_URL__c,
    repositoryUrl: item.Repository_URL__c,
    dateCompleted: item.Date_Completed__c,
    isFeatured: item.Is_Featured__c,
    sortOrder: item.Sort_Order__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "max-age=300, public"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

    <flow
    name="get-sfdc-testimonials"
    doc:id="23b59280-3ce3-4813-82cf-d6afa4b966ad"
  >
        <ee:transform doc:name="Generate Queries">
            <ee:variables>
                <ee:set-variable
          resource="queries/testimonialsQuery.dwl"
          variableName="queries"
        />
            </ee:variables>
        </ee:transform>
        <salesforce:query
      doc:name="Count Query"
      config-ref="Salesforce_Config"
      target="totalCount"
    >
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.countQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <salesforce:query doc:name="Data Query" config-ref="Salesforce_Config">
            <salesforce:salesforce-query
      ><![CDATA[#[vars.queries.dataQuery]]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Map Response">
            <ee:message>
                <ee:set-payload
        ><![CDATA[%dw 2.0
output application/json
---
payload map (item) -> {
    id: item.Id,
    name: item.Name,
    authorName: item.Author_Name__c,
    authorTitle: item.Author_Title__c,
    avatarUrl: item.Avatar_URL__c,
    vibeMode: item.Vibe_Mode__c,
    relationshipType: item.Relationship_Type__c,
    context: item.Context__c
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable
          variableName="outboundHeaders"
        ><![CDATA[%dw 2.0
output application/java
var total = vars.totalCount[0].expr0 as Number default 0
var offset = vars.offset as Number default 0
---
{
    "X-Total-Count": total,
    "X-Has-More": (offset + sizeOf(payload)) < total,
    "X-Request-Id": correlationId,
    "Cache-Control": "no-store, no-cache"
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>

</mule>
